@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="row">
    <div class="row col-md-3">id:<input type="text" value="0" readonly id="langId" /></div>
    <div class="row col-md-3">Code:<input type="text" id="txtCode" /></div>
    <div class="row col-md-3">Name:<input type="text" id="txtName" /></div>
    <div class="col-md-2"> <input type="button" value="Kaydet" onclick="Save()"/></div>
</div>

<div id="divLangList">

    <table class="table">

        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Code</th>
        </tr>
        <tbody id="langBody">
        </tbody>
    </table>

</div>


@section Scripts
{
    <script>

        $(document).ready(getLangData);

        function Save() {
            var data= {
                "id": $('#langId').val(),
                "code": $('#txtCode').val(),
                "name": $('#txtName').val()
            }

            $.post({
                type:"POST",
                url: "/api/lang",
                data: data,
                success: function (data) {
                    if (data) {
                        alert("kayıt başarılı");
                        getLangData();
                    }
                },
                dataType: "JSON"
            });

        }

        function getLangData() {
            $.ajax({
                url: "/api/lang",
                data: null,
                success: function (res) {
                    console.log(res);
                    $('#langBody').html("");
                    res.map(function (lng) {
                        // $('#divLangList').append("<div>"+lng.code+" : "+lng.name +"</di>" )
                        $('#langBody').append("<tr><td>" + lng.id + "</td><td>" + lng.code + "</td><td>" + lng.name + "</td><tr>")
                    });
                },
                dataType: "JSON"
            });
        }

    </script>
}
