@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="row">
    <div class="col-md-3">id:<input type="text" value="0" readonly id="langId" /></div>
    <div class="col-md-3">Code:<input type="text" id="txtCode" /></div>
    <div class="col-md-3">Name:<input type="text" id="txtName" /></div>
    <div class="col-md-3"><input type="button" value="Kaydet" onclick="Save()" /></div>
</div>

<div id="divLangList">
    <table class="table">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Code</th>
        </tr>
        <tbody id="langBody">
        </tbody>
    </table>

</div>

@section Scripts
{
    <script>
        $(document).ready(getLangData);
        function Save() {
            console.log("save executed:")
            console.log("ID:" + $('#langId').val());
            console.log("code:" + $('#txtCode').val());
            console.log("name:" + $('#txtName').val());
            var data = {
                "id": $('#langId').val(),
                "code": $('#txtCode').val(),
                "name": $('#txtName').val()
            }
            if ($('#langId').val() > 0) {
                $.ajax({
                    type: "PUT",
                    url: "/api/lang/" + $('#langId').val(),
                    data: data,
                    success: function (data) {
                        if (data)
                            alert("Kayıt başarılı");
                        getLangData();
                    },
                    dataType: "JSON"
                });
            }
            else {
                $.ajax({
                    type: "POST",
                    url: "/api/lang",
                    data: data,
                    success: function (data) {
                        if (data)
                            alert("Kayıt başarılı");
                        getLangData();
                    },
                    dataType: "JSON"
                });
            }
        }
        function getLangData() {
            $.ajax({
                url: "/api/lang",
                data: null,
                success: function (res) {
                    console.log(res);
                    $('#langBody').html("");
                    res.map(function (lng) {
                        //   $('#divLangList').append("<div>"+lng.code+" : "+lng.name+"</div>")
                        $('#langBody').append("<tr><td><input type='button' onclick=deleteLang('" + lng.id + "') value='sil' /><input type='button' onclick=edit('" + lng.id + "','" + lng.code + "','" + lng.name + "') value='Edit' /></<td>" + lng.id + "</td><td>" + lng.code + "</td><td>" + lng.name + "</td></tr>")
                    });
                },
                dataType: "JSON"
            });
        }
        function deleteLang(id) {
            //   alert(id + "silinecek");
            $.ajax({
                type: "DELETE",
                url: "/api/lang/" + id,
                success: function (data, textstatus, xhr) {
                    console.log(textstatus);
                    console.log(xhr);
                    if (xhr.status == 200) {
                        if (data)
                            alert("silindi");
                        getLangData();
                    }
                    else {
                        alert("hata oluştu");
                    }
                },
                error: function (data) {
                    alert("error");
                },
                dataType: "JSON"
            });
        }
        function edit(id, code, name) {
            console.log(id + "--" + code + "--" + name);
            $('#langId').val(id);
            $('#txtCode').val(code);
            $('#txtName').val(name);
        }

    </script>
}