@model WordMaster.Models.WordDefinitionViewModel
@using DataAccessLayer.Entities
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>WordDefinitionViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (Model.Id > 0)
            {
                <div class="form-group">
                    <label asp-for="Id" class="control-label"></label>
                    <input asp-for="Id" class="form-control" />
                    <span asp-validation-for="Id" class="text-danger"></span>
                </div>
            }
            <div class="form-group">
                <label asp-for="Word" class="control-label"></label>
                <input asp-for="Word" class="form-control" />
                <span asp-validation-for="Word" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LangId" class="control-label"></label>
                @*<input asp-for="LangId" class="form-control" />*@
                <select class="form-control" id="LangId" name="LangId">
                    @foreach (var item in (List<Language>)ViewBag.Langs)
                    {
                        <option title="@item.Name" value="@item.Id">@item.Code</option>
                    }
                </select>
                <span asp-validation-for="LangId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
