
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="row">
    <div class="col-md-2">
        <p>
            <a asp-action="Edit">Create New</a>
        </p>
    </div>
    <div class="col-md-6"><input id="searchKeyword" onkeypress="refreshByKey(event)" type="text" class="form-control" /></div>
    <div class="col-md-2">
        <button type="button" onclick="refresh()" class="btn btn">
            <i class="bi bi-search"></i>
        </button>
    </div>
</div>
@*<div id="loading">
        <img height="130" src="~/images/Loading_icon.gif" />
    </div>*@
<div id="listTable">
    @*<partial name="ListPartial" model="Model"  />*@
</div>


@section Scripts{
    <script>
        function showHideDetail(elemId) {
            $("#" + elemId).toggle();
        }
        function refresh() {
            $('#loading').show();
            $('#listTable').html(' <img height="130" src="/images/Loading_icon.gif" />');
            var searchKeyword = $('#searchKeyword').val();

            $('#listTable').load('/WordDefinition/ListPartial', { 'searchKeyword': searchKeyword });
            // window.location.href = '/WordDefinition/Index?searchKeyword=' + searchKeyword;
            //$('#listTable').load('/WordDefinition/ListPartial?searchKeyword=' + searchKeyword
            //    , {}, function () { $('#loading').hide(); }
            //);

        }
        function refreshByKey(e) {
            if (e.keyCode === 13) {
                e.preventDefault();
                refresh();
            }
        }
        $(document).ready(function () {
            refresh();
        });
    </script>
}